pandas >= 0.22
frozendict >= 1.2
scikit-learn
git+https://gitlab.com/datadrivendiscovery/common-primitives.git@devel#egg=common_primitives --process-dependency-links
git+https://gitlab.com/datadrivendiscovery/d3m.git@devel#egg=d3m --process-dependency-links
